.app {
  width: 80%;
  margin: 40px auto;
  font-family: "Inter";
}

.link {
  text-decoration: none;
  color: black;
}

.messages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.header > h1 {
  font-size: 40px;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: blue;
}

.message {
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  padding: 10px 15px;
  max-height: 300px;
}

.message__title {
  color: black;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  text-decoration: none;
  font-family: "Inter";
  background-color: blue;
  padding: 20px 25px;
  color: white;
  font-weight: bold;
}

.add__message {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.add__message > input {
  font-family: "Inter";
  padding: 25px 10px;
  font-size: 18px;
  margin-bottom: 15px;
  border: 1px solid gray;
  font-weight: 700;
}

.add__message > button {
  text-decoration: none;
  font-family: "Inter";
  background-color: blue;
  padding: 20px 25px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.ind__message {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  margin-top: 40px;
}

.ind__message > button {
  text-decoration: none;
  font-family: "Inter";
  background-color: blue;
  padding: 15px 40px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-top: 10px;
}

.ind__message__title {
  font-size: 35px;
  letter-spacing: -1px;
}
